*.swp
.classpath
.project
.settings
tags
target
.idea
*.iml
.DS_Store
.vscode

# Gradle files
.gradle/*
build/*
out/*

# compiler output
bin/

Test.java
Test.class
scriptcs_bin/
gradle.properties
*.gpg