.box {
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px black solid;
  height: 400px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered-box {
  margin: calc((50vh - 200px) / 2) auto;
}

.text-center {
  text-align: center;
}

.alert {
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  height: 30px;
  justify-content: center;
  left: 10%;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  width: 80%;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}